[Desktop Entry]
Encoding=UTF-8
Name=Converseen
GenericName=Converseen
Name[en_GB]=Converseen
Name[it]=Converseen
Comment=Batch image converter
Comment[it]=Convertitore batch di immagini
Exec=converseen
Icon=/usr/share/pixmaps/converseen.png
StartupNotify=true
X-KDE-StartupNotify=true
Terminal=false
Type=Application
Categories=Qt;Graphics;
