name: MacOS Build (Test)

on:
  workflow_dispatch:
  
jobs:
  build-macos:
    name: Converseen macOS Build
    runs-on: self-hosted

    env:
      BASE_DIR: ${{ github.workspace }}/im_build 
      WORKING_DIR: ${{ github.workspace }}

    steps:
    - name: Checkout Converseen
      uses: actions/checkout@v4
      with:
        repository: Faster3ck/Converseen
        path: Converseen

    - name: Download ImageMagick
      run: |
        wget https://imagemagick.org/archive/ImageMagick.tar.gz
        tar -xzvf ImageMagick.tar.gz
        
    - name: Build ImageMagick
      run: |
        cd ImageMagick-*

        export CFLAGS="-O2"
        export CXXFLAGS="-O2"
        export LDFLAGS="-Wl,-headerpad_max_install_names -Wl,-headerpad,0x2000"
        
        ./configure --prefix=${{ github.workspace }}/im_build \
                    --disable-silent-rules \
                    --disable-dependency-tracking \
                    --without-perl \
                    --disable-installed \
                    --with-quantum-depth=16 \
                    --disable-opencl \
                    --enable-shared \
                    --with-freetype=yes \
                    --with-gvc=no \
                    --with-openjp2 \
                    --with-openexr \
                    --with-webp=yes \
                    --with-heic=yes \
                    --with-raw=yes \
                    --with-zip=yes \
                    --with-gslib \
                    --with-gs-font-dir=/usr/local/share/ghostscript/fonts \
                    --without-djvu \
                    --without-fftw \
                    --without-pango \
                    --without-wmf \
                    --without-x \
                    --disable-openmp

        make
        make install
      
    - name: Build Converseen
      run: |
        cd Converseen
        mkdir build
        cd build

        cmake \
         -DUSE_QT6=yes \
         -DCMAKE_BUILD_TYPE=Release \
         -DCMAKE_PREFIX_PATH="/Users/github-runner/Qt/6.6.2/macos;${{ github.workspace }}/im_build" \
         -DCMAKE_INSTALL_PREFIX=install ..
         
        make

    - name: Deploy Converseen
      run: |
        cd Converseen/build
        cmake --install .

    - name: Compress Converseen
      run: |
        cd Converseen/build/install
        zip -r --symlinks -9 converseen-${{ env.VERSION }}-${{ env.BUILD }}_beta_macos-x86_64.zip converseen.app
        pwd

    - name: Compress Converseen
      run: |
        cd Converseen/build/install
        zip -r --symlinks -9 converseen-${{ env.VERSION }}-${{ env.BUILD }}_beta_macos-x86_64.zip converseen.app
        pwd

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ConverseenMacOSIntel
        path: build/bin/converseen-${{ env.VERSION }}-${{ env.BUILD }}_beta_macos-x86_64.zip
